; swisschess module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/swisschess
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[swisschess_job_swt]
description = "Job that imports swiss chess files"
brick = "make swtimport *"
group[] = admin
group[] = localhost
condition_queries_module = tournaments

[swisschess_swtfile]
description = "Download an SWT file from the data folder"
brick = "request swtfile *"
group = admin
include_access[] = swisschess_download
include_access[] = swisschess_upload
